@font-face {
    font-family: "nationalpark";
    src: url("fonts/nationalpark-heavy-webfont.woff");
    src:
    url("css/fonts/nationalpark-heavy-webfont.woff") format("woff"),
    }
@font-face {
    font-family: "nationalpark-outline";
    src: url("fonts/nationalpark-outline-webfont.woff");
    src:
    url("css/fonts/nationalpark-outline-webfont.woff") format("woff"),
    }
*{
   
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Hind Madurai', sans-serif;
  }
html,body{
display: grid;
margin: 0;
padding: 0;
width: 100%;
height: 100%;
place-items: center;
font-family: 'Poppins', sans-serif;
}
.b1{
  width: 100%;
  height: 100%;
  margin: auto;
  background: url(/img/unsplash1.jpg) no-repeat 50% 50%;
  top: 0;
  display: table;
  background-size: cover;
}
.b1 .in1{
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  max-width: none;
}
.content{
  max-width: 500px;
  margin: auto;
  text-align: center;
}
.content h1{
  font-family: 'Hind Madurai',sans-serif;
  color: #E5E8E8;
  font-size: 500%;
  text-shadow: 0 0 300px #000;
}
.content h2{
    font-family: 'Hind Madurai',sans-serif;
    color: #E5E8E8;
    font-size: 250%;
    text-shadow: 0 0 300px #000;
}
